<% content_for(:footer) do%>
  <script>
    $(document).ready(function(){
      $("#e_book_name").blur(function(){
        var that = this;

        $.get("/e_books/exists.json?name="+encodeURIComponent(this.value))
          .success(function(result){
            if(result.exists)
              $(that).css("border", "1px solid red");
          });
      }).focus(function(){
        $(this).css("border", "");
      });

      function capitalize(str) {
        return _.map(str.toLowerCase().split(/\s+/), function(str){ 
          preps=['for','in','with','by','at','on','and','of'];if(_.indexOf(preps, str) > -1) return str; else return str[0].toUpperCase()+str.slice(1);
        }).join(" ");
      }

      $("#e_book_name_convert").click(function(){
        var $ebookname = $("#e_book_name");
        $ebookname.val(capitalize($ebookname.val()));
      });

      $("#e_book_author_convert").click(function(){
        var $ebookauthor = $("#e_book_author");
        $ebookauthor.val(capitalize($ebookauthor.val()));
      });
    });
  </script>
<% end %>
<div class="row">
  <div class="span6">
  <%= form_for(@e_book, :html=>{:multipart=>true}, :builder=>EbookFormBuilder) do |f| %>
    <% if @e_book.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@e_book.errors.count, "error") %> prohibited this e_book from being saved:</h2>

        <ul>
        <% @e_book.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name, '书籍名称'%>
      <%= f.text_field :name, :class=>'span5' %>
      <a id="e_book_name_convert" href="javascript:;">转换</a>
    </div>
    <div class="field">
      <%= f.label :author, '作者' %>
      <%= f.text_field :author, :class=>'span5' %>
      <a id="e_book_author_convert" href="javascript:;">转换</a>
    </div>
    <div class="field">
      <%= f.label :publish_year, '出版年份' %>
      <%= f.number_field :publish_year %>
    </div>
    <div class="field">
      <%= f.label :language, '语言' %>
      <%= f.select(:language, [["英文", "英文"], ["中文", "中文"]]) %>
    </div>
    <% Attr.all.each do |attr|
       e_book_attr = @e_book.e_book_attrs.where(:attr_id=>attr.id).first %>
    <div class="field">
      <%= label_tag Attr::TitleCache[attr.id] %>
      <%= hidden_field_tag 'e_book_attrs[][attr_id]', attr.id %>
      <%= hidden_field_tag 'e_book_attrs[][e_book_id]', @e_book.id %>
      <% if attr.value_set_header %>
        <%=select_tag 'e_book_attrs[][value]', options_for_select(attr.value_set_header.name_value_array, e_book_attr ? e_book_attr.value : nil), :include_blank=>true %>
      <% else %>
        <%= text_field_tag 'e_book_attrs[][value]', e_book_attr ? e_book_attr.value : nil %>
      <% end %>
    </div>
    <% end %>
    <div class="field">
      <%= f.label :list_id, '书单ID' %>
      <%= f.number_field :list_id %>
    </div>
    <div class="field">
      <%= f.label :image_large_file, '书籍封面' %>
      <%= f.file_field :image_large_file %>
    </div>
    <br />
    <div class="actions">
      <%= f.submit '提交' %>
    </div>
  <% end %>
  </div>
  <% if @e_book.id  %>
  <div class="span6">
    <div class="field">
      <%=label_tag '下载链接列表'%>
      <ol>
      <% @e_book.webstorage_links.each do |link| %>
        <li>
          <%=link.name%> | <%=link.url%> | <%=link.secret_key%> | <%=link.file_format%>
          <%= link_to '编辑', edit_e_book_webstorage_link_path(@e_book, link) %>
          <%= link_to '删除', url_for([@e_book, link]), method: :delete, data: {confirm: '确定删除么？'} %>
        </li>
      <% end %>
      </ol>
    </div>
    <hr />
    <%= form_for [@e_book, WebstorageLink.new], :builder=>EbookFormBuilder do |f|%>
    <div class="field">
      <%=f.label :url, '文件链接' %>
      <%=f.text_area :url, :class=>:span6, :rows=>2 %>
    </div>
    <div class="field">
      <%= f.label :file_format, '格式' %>
      <%= f.select(:file_format, [["PDF", "PDF"], ["CHM", "CHM"], ["MOBI", "MOBI"], ["EPUB", "EPUB"]]) %>
    </div>
    <div class="actions">
      <%=f.submit '新增'%>
    </div>
    <% end %>
  </div>
  <%end%>
</div>
