<%= form_for(@e_book, :html=>{:multipart=>true}, :builder=>EbookFormBuilder) do |f| %>
  <% if @e_book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@e_book.errors.count, "error") %> prohibited this e_book from being saved:</h2>

      <ul>
      <% @e_book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :programming_language %><br />
    <%= f.programming_language_select :programming_language %>
  </div>
  <div class="field">
    <%= f.label :publish_year %><br />
    <%= f.number_field :publish_year %>
  </div>
  <div class="field">
    <%= f.label :publisher %><br />
    <%= f.publisher_select(:publisher) %>
  </div>
  <div class="field">
    <%= f.label :format %><br />
    <%= f.select(:format, [["PDF", "PDF"], ["CHM", "CHM"]]) %>
  </div>
  <div class="field">
    <%= f.label :language %><br />
    <%= f.select(:language, [["英文", "英文"], ["中文", "中文"]]) %>
  </div>
  <div class="field">
    <%= f.label :image_large_file %><br />
    <%= f.file_field :image_large_file %>
  </div>
  <div class="field">
    <%= f.label :download_url %><br />
    <%= f.text_field :download_url, :style=>"width:550px;" %>
  </div>
  <div class="field">
    <%= f.label :download_name %><br />
    <%= f.webstorage_select :download_name %>
  </div>
  <div class="field">
    <%= f.label :download_url_2 %><br />
    <%= f.text_field :download_url_2, :style=>"width:550px;" %>
  </div>
  <div class="field">
    <%= f.label :download_name_2 %><br />
    <%= f.webstorage_select(:download_name_2) %>
  </div>
 <div class="field">
    <%= label_tag :token %><br />
    <%= text_field_tag :token, cookies[:token] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
