<div class="row">
  <div class="span6">
  <%= form_for(@e_book, :html=>{:multipart=>true}, :builder=>EbookFormBuilder) do |f| %>
    <% if @e_book.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@e_book.errors.count, "error") %> prohibited this e_book from being saved:</h2>

        <ul>
        <% @e_book.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :author %>
      <%= f.text_field :author %>
    </div>
    <div class="field">
      <%= f.label :programming_language %>
      <%= f.programming_language_select :programming_language %>
    </div>
    <div class="field">
      <%= f.label :publish_year %>
      <%= f.number_field :publish_year %>
    </div>
    <div class="field">
      <%= f.label :publisher %>
      <%= f.publisher_select(:publisher) %>
    </div>
    <div class="field">
      <%= f.label :format %>
      <%= f.select(:format, [["PDF", "PDF"], ["CHM", "CHM"]]) %>
    </div>
    <div class="field">
      <%= f.label :language %>
      <%= f.select(:language, [["英文", "英文"], ["中文", "中文"]]) %>
    </div>
    <div class="field">
      <%= f.label :image_large_file %>
      <%= f.file_field :image_large_file %>
    </div>
   
    <div class="field">
      <%= label_tag :token %>
      <%= text_field_tag :token, cookies[:token] %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
  </div>
  <% if @e_book.id  %>
  <div class="span6">
    <div class="field">
      <%=label_tag '下载链接列表'%>
      <ol>
      <% @e_book.webstorage_links.each do |link| %>
        <li>
          <%=link.name%> | <%=link.url%> | <%=link.ad_link%> | <%= link_to '删除', url_for([@e_book, link]), method: :delete, data: {confirm: '确定删除么？'} %>
        </li>
      <% end %>
      </ol>
    </div>
    <hr />
    <%= form_for [@e_book, WebstorageLink.new], :builder=>EbookFormBuilder do |f|%>
    <div class="field">
      <%=f.label :name, '网盘名称' %>
      <%=f.webstorage_select :name %>
    </div>
    <div class="field">
      <%=f.label :url, '直接文件链接' %>
      <%=f.text_field :url, :class=>:span6 %>
    </div>
    <div class="field">
      <%=f.label :ad_link, '广告文件链接' %>
      <%=f.text_field :ad_link, :class=>:span6 %>
    </div>
    <div class="actions">
      <%=f.submit '新增'%>
    </div>
    <% end %>
  </div>
  <%end%>
</div>
