<div class="row shadow-panel" style="margin-left:0px;">
	<div class="span2">
		<%= image_tag e_book.image_small+"?imageView2/2/w/140/h/186/q/100", :class=>"left-img" %>
	</div>
  <div class="span10" style="padding: 10px 0 0 10px;">
    <p><span style="color:grey;">书名：</span><%=link_to "#{e_book.name}", e_book_url(e_book) %></p>
    <p><span style="color:grey;">作者：</span><%= e_book.author %></p>
    <p><span style="color:grey;">语言：</span><%= e_book.language %></p>
    <p><span style="color:grey;">出版年份：</span><%= e_book.publish_year %></p>
  </div>
</div>
