<div class="row shadow-panel" style="margin-left:0px;">
	<div class="span6" style="">
		<%= image_tag e_book.image_large, :style=>"width:420px;max-height:560px;min-height:560px;height:560px;" %>
	</div>
	<div class="span6">
		<div style="height:510px;padding-top:20px;">
			<table class="table tablex">
				<tr>
					<th colspan="2" style="text-align:center;"><%=link_to "#{e_book.name}", e_book_url(e_book) %></th>
				</tr>
				<tr>
					<td style="text-align:right;width:100px;border-top-width:1px;">作者：</td>
					<td><%= e_book.author %></td>
				</tr>
				<tr>
					<td style="text-align:right;width:100px;">语言：</td>
					<td><%= e_book.language %></td>
				</tr>
				<tr>
					<td style="text-align:right;width:100px;">格式：</td>
					<td><%= e_book.format %></td>
				</tr>
				<tr>
					<td style="text-align:right;width:100px;">出版年份：</td>
					<td><%= e_book.publish_year %></td>
				</tr>
				<% ValueSetHeader.categories.each do |category| %>
					<% unless e_book.send(ActiveSupport::Inflector.singularize(category.name)).blank? then %>
					<tr>
						<td style="text-align:right;width:100px;"><%=category.title%>：</td>
						<td><%= e_book.send(ActiveSupport::Inflector.singularize(category.name)) %></td>
					</tr>
					<% end %>
				<% end %>
				<tr>
					<td style="text-align:right;width:100px;">下载链接：</td>
					<td>
						<ul class="inline">
						<% e_book.webstorage_links.each_with_index do |link, index|%>
							<li style="padding-left:0px;">
							<%= link_to link.name, {:controller=>:webstorage_links, :action=>:to_link, :e_book_id=>e_book.id, :id=>link.id} %>
							</li>
						<% end %>
						</ul>
						<div>
							<pre style="font-size:12px;">书籍均收集自互联网，仅供学习和研究使用，请莫用于商业用途。谢谢合作。</pre>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<% if params[:controller] == 'e_books' && params[:action] == 'show' %>
		<div style="height:30px;">
			<!-- Baidu Button BEGIN -->
			<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare" style="float:right;">
				<span class="bds_more">分享到：</span>
				<a class="bds_qzone"></a>
				<a class="bds_tsina"></a>
				<a class="bds_tqq"></a>
				<a class="bds_renren"></a>
				<a class="bds_t163"></a>
				<a class="shareCount"></a>
			</div>
			<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=5227233" ></script>
			<script type="text/javascript" id="bdshell_js"></script>
			<script type="text/javascript">
			document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
			</script>
			<!-- Baidu Button END -->
		</div>
		<% end %>
	</div>
</div>
