<br />
<div class="row" style="border-style:solid;border-width:1px;">
	<div class="span6" style="">
		<%= image_tag e_book.image_large, :style=>"width:420px;" %>
	</div>
	<div class="span6" style="font-size:18px;">
		<br />
		<table class="table tablex">
			<tr>
				<th colspan="2"><%=link_to "《#{e_book.name}》", e_book_url(e_book) %></th>
			</tr>
			<tr>
				<td style="text-align:right;width:100px;">作者：</td>
				<td><%= e_book.author %></td>
			</tr>
			<tr>
				<td style="text-align:right;width:100px;">语言：</td>
				<td><%= e_book.language %></td>
			</tr>
			<tr>
				<td style="text-align:right;width:100px;">格式：</td>
				<td><%= e_book.format %></td>
			</tr>
			<tr>
				<td style="text-align:right;width:100px;">类别：</td>
				<td><%= e_book.programming_language %></td>
			</tr>
			<tr>
				<td style="text-align:right;width:100px;">出版社：</td>
				<td><%= e_book.publisher %></td>
			</tr>
			<tr>
				<td style="text-align:right;width:100px;">出版年份：</td>
				<td><%= e_book.publish_year %></td>
			</tr>
			<tr>
				<td style="text-align:right;width:100px;">下载链接：</td>
				<td>
					<% unless e_book.download_url.blank? %>
						<%=link_to e_book.download_name, e_book.download_url, :target=>"_blank" %>
					<% end %>
					<% unless e_book.download_url_2.blank? %>
						| <%=link_to e_book.download_name_2, e_book.download_url_2, :target=>"_blank" %>
					<% end %>
				</td>
			</tr>
		</table>
		</table>
		<br />
		<p></p>
	</div>
</div>
