<input type="text" class="span6" value="[<%=site_name%>]<%=standard_file_name @e_book%>" onclick="select()"></input>
<div><%= notice %></div>
<%= render 'form' %>

<%= link_to 'Show', @e_book %> |
<%= link_to 'Back', e_books_path %>
