<div>
  <%=link_to '前一本', edit_e_book_path(EBook.find @e_book.id-1)%> | 
  <%=link_to '后一本', edit_e_book_path(EBook.find @e_book.id+1)%> |
  <%=link_to '新增一本', new_e_book_path %> 
</div>
<input type="text" class="span6" value="[<%=site_name%>]<%=standard_file_name @e_book%>" onclick="select()"></input>
<div><%= notice %></div>
<%= render 'form' %>

<%= link_to 'Show', @e_book %> |
<%= link_to 'Back', e_books_path %>
