<style>
  .region {
    border: 1px solid #EEE;
  }

  .region-head {
    border-bottom: 0px solid #EEE;
    margin-bottom: 10px;
    padding: 6px 0px 6px 15px;
    background-image: url(background.png);
    background-position: 0 -476px; 
  }

  .region-body {
    padding: 12px 0px 0px 0px;
  }

  .logofont {
    font-size: 50px;
    vertical-align: middle;
    text-shadow: 3px 2px 2px #ddd;
  }
  .booktitle {
    height: 32px;
    text-align: center;
    font-size: 9px;
    line-height: 16px;
    margin-top: 5px;
    text-shadow: 3px 2px 2px #ddd;
    overflow: hidden;
  }
</style>

<div>
  <div style="width:280px;margin-top:80px;" class='center'>
    <span class='logofont'>搬</span>
    <img src='logo.png' style='width:128px;height:128px;'></img>
    <span class='logofont'>匠</span>
  </div>
</div>

<div style="height: 50px; padding-left:210px;margin: 20px 0px 40px 0px;">
<%=form_tag url_for(:controller=>:e_books, :action=>:search), :method=>:get do %>
  <div class="input-append">
    <%=text_field_tag :search_words, '', :class=>"span6"%>
    <button type="submit" class="btn">书籍搜索</button>
  </div>
<% end %>
</div>

<br/>

<div class="region">
  <div class="region-head">
    <span style="font-size: 15px;">分类</span>
  </div>
  <div class="region-body" style="height: 185px;margin-top: -5px;">
    <ul style="list-style-type:none;margin:0px;">
      <% Attr.categories.each do |category| %>
      <li style="margin-bottom:5px;">
        <div class="row" style="margin-left: -5px;">
          <div class="span1"><%=category.title%></div>
          <div class="span11">
            <ul class="inline">
              <% category.name_value_array.each do |item|%>
                <li><%=link_to item[0], :controller=>:category, :action=>:show, :category=>ActiveSupport::Inflector.singularize(category.name), :name=>item[1] %></a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </li>
      <% end %>        
    </ul>
  </div>
</div>

<br />
<br />

<div class="region">
  <div class="region-head">
    <span style="font-size: 15px;">最新更新</span>
    <span style="font-size: 13px; float: right; margin-right: 15px;"><%=link_to '更多>>', url_for(:controller=>:e_books, :action=>:page, :id=>1) %></span>
  </div>
  <div class="region-body" style="height: 195px;">
    <ul style="list-style-type:none;margin:0px;">
      <% for ebook in @latest_10_books %>
      <li style="float:left;width:110px;margin-left:13px;">
        <div>
          <a href="<%=url_for(:controller=>:e_books, :action=>:show, :id=>ebook.id)%>" data-toggle="tooltip" title="<%=ebook.name%>"><img class="shadow-panel" src="<%=ebook.image_small%>" alt=""></img></a>
          <div class="booktitle"><%=ebook.name%></div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<br/>
<br/>

<div class="region">
  <div class="region-head">
    <span style="font-size: 15px;">下载最多</span>
  </div>
  <div class="region-body" style="height: 195px;">
    <ul style="list-style-type:none;margin:0px;">
      <% for ebook in @download_10_books %>
      <li style="float:left;width:110px;margin-left:13px;">
        <div>
          <a href="<%=url_for(:controller=>:e_books, :action=>:show, :id=>ebook.id)%>" data-toggle="tooltip" title="<%=ebook.name%>"><img class="shadow-panel" src="<%=ebook.image_small%>" alt=""></img></a>
          <div class="booktitle"><%=ebook.name%></div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<br/>
<br/>

