<br />
<h3>论坛代码</h3>
<pre>
[table=98%]
[tr][td][align=left]#[/align][/td][td][align=left]书名[/align][/td][td][align=left]语言[/align][/td][td][align=left]链接[/align][/td][/tr]
<% @e_books.each_with_index do |ebook, index| %>
[tr][td][align=left]<%=index+1%>.[/align][/td][td][align=left]<%=ebook.name%>[/align][/td][td][align=left]<%=ebook.language%>[/align][/td][td][align=left][color=#088cc][url=http://ebook.jiani.info<%=url_for ebook%>]去下载[/url][/color][/align][/td][/tr]
<% end %>
[/table]
</pre>

<h3>表格</h3>
<table class="table table-bordered" style="width:650px;">
	<tr>
		<td>#</td>
		<td>书名</td>
		<td>语言</td>
		<td>链接</td>
	</tr>
	<% @e_books.each_with_index do |ebook, index| %>
	<tr>
		<td><%=index+1%>.</td>
		<td style="color:blue;"><%=ebook.name%></td>
		<td><%=ebook.language%></td>
		<td><%=link_to '去下载', ebook, :target=>'_blank' %></td>
	</tr>
	<% end %>
</table>
