<%= form_for [@e_book, @webstorage_link] do |f| %>
  <div class="field">
    <%=@webstorage_link.name%>
    <hr />
  </div>
  <div class="field">
    <%=f.label :url, '直接文件链接'%>
    <%=f.text_field :url, :class=>:span6 %>
  </div>
  <div class="field">
    <%=f.label :ad_link, '广告文件链接'%>
    <%=f.text_field :ad_link, :class=>:span6 %>
  </div>
  <div class="field">
    <%=f.submit :save%>
  </div>
<% end %>
