<% content_for :head do%>
<%= render '/shared/noty_head' %>
<script type="text/javascript">
var isVerified = false;
function CustomDefinedAjaxOnkeyup(result){
  isVerified = result;
}
$(document).ready(function(){
  $('#login_form').submit(function(){
    if(isVerified){
      return true;
    } else {
      show_noty('请输入正确的验证码');
      return false;
    }
  });
});
</script>
<% end %>

<% if notice then %>
<div>
<script>
  var delta = <%=@remain_time%>;
  var fromtime = new Date().getTime();
  var totime = fromtime + delta;

  var format_time = function(remain_time){
    if(remain_time <= 0)return "00:00:00";
    
    var remain_secord = Math.ceil(remain_time / 1000);
    var secord = (remain_secord) % 60;
    var minute = Math.ceil((remain_secord - secord)/60) % 60;
    var hour   = Math.ceil((remain_secord - minute*60 - secord)/3600); 
    return (hour<10?"0":"") + hour + ":" + (minute<10?"0":"") + minute + ":" + (secord<10?"0":"") + secord;
  }

  var remain = function(){
    $('#time_remain').text(format_time(totime-(new Date()).getTime()));
  }

  setInterval(remain,1000);
</script>
<%=notice%>请在倒计时 <span style="color:red;" id="time_remain"></span> 结束之后再来访问。
</div>
<% end %>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="row">
  <div class="span7 offset3">
  <h3 style="text-align:center;">请输入验证码：</h3>
<br />
  <%= form_tag url_for(:controller=>:webstorage_links, :action=>:to_link), :class=>'form-horizontal', :style=>'margin-bottom:0px;', :id=>'login_form' do  %>
    <div class="control-group">
      <%= label_tag :yucinput54962e688b, '验证码', :class=>'control-label' %>
      <div class="controls">
        <script type="text/javascript" src="http://yucmedia.jiani.info/yucmedia/Action/load.php"></script>
        <input name="yucinput54962e688b" type="text" id="yucinput54962e688b" />
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= submit_tag '去下载页面 >>' %>
      </div>
    </div>
    <% end %>
  </div>
</div>
