<script type="text/javascript">
var isVerified = false;
function CustomDefinedAjaxOnkeyup(result){
  isVerified = result;
}
$(document).ready(function(){
  $('#login_form').submit(function(){
    if(isVerified){
      return true;
    } else {
      alert('请输入正确的验证码');
      return false;
    }
  });
});
</script>
<% if notice then %>
<div>
<%=notice%>
</div>
<% end %>
<div class="row">
  <div class="span8">
    <%= form_tag '/users/send_password_reset_mail', :method=>'PUT', :class=>'form-horizontal', :style=>'margin-bottom:0px;', :id=>'login_form' do  %>
    <div class="control-group">
      <%= label_tag :email, '电子邮箱', :class=>'control-label' %>
      <div class="controls">
        <%= text_field_tag :email %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :yucinput54962e688b, '验证码', :class=>'control-label' %>
      <div class="controls">
        <script type="text/javascript" src="http://www.jiani.info/yucmedia/Action/load.php"></script>
        <input name="yucinput54962e688b" type="text" id="yucinput54962e688b" />
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= submit_tag '发送密码重置链接 >>' %>
      </div>
    </div>
    <% end %>
  </div>
</div>
