<script type="text/javascript">
var isVerified = false;
function CustomDefinedAjaxOnkeyup(result){
  isVerified = result;
}
$(document).ready(function(){
  $('#login_form').submit(function(){
    if(isVerified){
      return true;
    } else {
      alert('请输入正确的验证码');
      return false;
    }
  });
});
</script>

<% if notice then %>
<div style="border-style:solid;border-width:1px;border-color:red;padding-top:12px;text-align:center;color:red;">
		<p><%=notice%></p>
</div>
<% end %>

<div class="row">
	<div class="span6">
	<%= form_tag url_for(:controller=>:users, :action=>:reset_password), :method=>'PUT', :class=>'form-horizontal', :style=>'margin-bottom:0px;', :id=>'login_form' do |f| %>
    <%= hidden_field :user, :id %>
		<div class="control-group">
			<%= label_tag :password, '新密码', :class=>'control-label' %>
			<div class="controls">
				<%= password_field_tag :password %>
			</div>
		</div>
		<div class="control-group">
			<%= label_tag :password_confirm, '确认密码', :class=>'control-label' %>
			<div class="controls">
				<%= password_field_tag :password_confirm %>
			</div>
		</div>
		<div class="control-group">
			<%= label_tag :yucinput54962e688b, '验证码', :class=>'control-label' %>
			<div class="controls">
        <script type="text/javascript" src="http://www.jiani.info/yucmedia/Action/load.php"></script>
        <input name="yucinput54962e688b" type="text" id="yucinput54962e688b" />
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<%= submit_tag '重置密码' %>
			</div>
		</div>
	<% end %>
	</div>
</div>
