<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
<head>
  <title>[<%=site_name%>]<%=@title%> - 电子书(EBook) 免费下载</title>
  <meta property="wb:webmaster" content="919195fbd9f44369" />
	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">  
  <%= stylesheet_link_tag    "e_books", :media => "all" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jquery_ujs" %>
  <%= javascript_include_tag "e_books" %>
  <%= csrf_meta_tags %>
  <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
	<style>
    body {
      background-color: #F4F4F4; 
      font-family: 宋体,"Helvetica Neue",Helvetica,Arial,sans-serif
    }
		.fontsize18 {
			font-size:18px;
		}
		.tablex * {
			font-size: 18px;
		}
		.tablex td, .table th {
			border-width: 0px;
		}
		.tablex th a {
			font-size: 26px;
			color: black;
		}
		.tablex a:hover {
			text-decoration: none;
		}
    .iconx {
      margin-top: 0px;
    }
	</style>


</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div style="margin-left:auto;margin-right:auto;width:960px;">
      <a class="brand"><strong><%=site_name%></strong></a>
      <ul class="nav">
        <li><a href="/"><i class="icon-home iconx"></i> 首页</a></li>
      </ul>
      <ul class="nav pull-right">
        <li><a style="padding:3px;0px;3px;" href="/data_feeds/ebooks.rss.xml"><img src="/icons/rss.png" style="width:85px;" alt="RSS FEED"></img></a></li>
      </ul>
      <ul class="nav pull-right">
        <li><div style="margin-top:8px;"><wb:follow-button uid="3198737743" type="gray_2" width="120" height="24" ></wb:follow-button></div></li>
      </ul>
    </div>
  </div>
</div>

<div style="margin-left:auto;margin-right:auto;width:960px;margin-top:44px;">
<%= yield %>
</div>

<% if ENV['OPENSHIFT_GEAR_NAME'] and cookies[:token] != 'zwyxyz' %>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fc7bd33987a7db78b0a49281e580a214b' type='text/javascript'%3E%3C/script%3E"));
</script>
<% end %>

</body>
</html>
