<!DOCTYPE html>
<html>
<head>
  <title><%=@title%></title>
	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<style>
		.fontsize18 {
			font-size:18px;
		}
		.tablex * {
			font-size: 18px;
		}
		.tablex td, .table th {
			border-width: 0px;
		}
		.tablex th a {
			font-size: 30px;
			color: black;
		}
		.tablex a:hover {
			color: black;
			background-color: white;
			text-decoration: none;
		}
	</style>


</head>
<body>

<div style="width:100%;height:44px;background-color:black;opacity: 0.7;">
	<div style="margin-left:auto;margin-right:auto;width:960px;padding-top:12px;">
		<a href="/" style="font-size:24px;color:white;text-decoration:none;">电子书下载</span></a>
	</div>
</div>

<div style="margin-left:auto;margin-right:auto;width:960px;">
<%= yield %>
</div>

<% if ENV['OPENSHIFT_GEAR_NAME'] and cookies[:token] != 'zwyxyz' %>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fc7bd33987a7db78b0a49281e580a214b' type='text/javascript'%3E%3C/script%3E"));
</script>
<% end %>
</body>
</html>
