<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
<head>
  <title>[<%=site_name%>]<%=@title%> - 电子书(EBook)</title>
  <meta name="ujianVerification" content="5b402cb330ce535b47381fc109aae4a6" />
  <meta property="wb:webmaster" content="919195fbd9f44369" />
  <link href="http://bdyucmedia.jiani.info/bootstrap/css/bootstrap.min.css" rel="stylesheet">  
  <%= stylesheet_link_tag "e_books", :media => "all" %>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
  <%= javascript_include_tag "jquery_ujs"%>
  <%= javascript_include_tag "e_books" %>
  <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
  <script src="http://bdyucmedia.jiani.info/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
  <%= csrf_meta_tags %>
  <script>
    $(document).ready(function(){
      $('.category').click(function(event){
        event.stopImmediatePropagation();
      });
    });
  </script>
  <%= yield :head %>
</head>
<body>
<%= render 'shared/top_banner' %>

<div style="margin-left:auto;margin-right:auto;width:1000px;margin-top:44px;">
<%= yield %>
</div>

<% if Rails.env == "production" && cookies[:token] != "zwyxyz" %>
<div style="display:none;">
  <!-- Baidu.com -->
  <script type="text/javascript">
  var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
  document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fc7bd33987a7db78b0a49281e580a214b' type='text/javascript'%3E%3C/script%3E"));
  </script>

  <!-- Google.com -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-6334871-9']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</div>
<% end %>

</body>
</html>
