<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb" lang="zh-cmn-Hans"> <!-- zh-cmn-Hans 表示 中文/国语/简体, zh-CN 已废弃不用 -->
<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit"> <!-- 为了告诉360浏览器应该使用极速核了 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"> <!-- 如果安装了GCF，则使用GCF来渲染页面「”chrome=1″」，如果没有安装GCF，则使用最高版本的IE内核进行渲染「”IE=edge”」 -->
  <title>[<%=site_name%>]<%=@title%> - 电子书(EBook)</title>
  <meta name="ujianVerification" content="5b402cb330ce535b47381fc109aae4a6" />
  <meta property="wb:webmaster" content="919195fbd9f44369" />
  <link href="http://libebook.qiniudn.com/bootstrap.min.css" rel="stylesheet">  
  <%= stylesheet_link_tag "e_books", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
<%= render 'shared/top_banner' %>

<div style="margin-left:auto;margin-right:auto;width:1000px;margin-top:44px;">
<%= yield %>
</div>

<% if params[:controller] != 'support' %>
<div style="text-align:center;">
  <div style="font-size:14px;font-weight:bold;">
    期待您的支持
  </div>
  <div>
    <a href='/support/pay'><img src='http://imgebook.qiniudn.com/donation.png'/></a>
  </div>
</div>
<% end %>

<div style="margin: 25px;"></div>

<% if Rails.env == "production" && cookies[:token] != "zwyxyz" %>
<div style="display:none;">
  <!-- Baidu.com -->
  <script type="text/javascript">
  var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
  document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fc7bd33987a7db78b0a49281e580a214b' type='text/javascript'%3E%3C/script%3E"));
  </script>
</div>
<% end %>

  <script src="http://libebook.qiniudn.com/jquery-1.9.1.min.js"></script>
  <script src="http://libebook.qiniudn.com/jquery-migrate-1.1.1.min.js"></script>
  <%= javascript_include_tag "jquery_ujs"%>
  <%= javascript_include_tag "e_books" %>
  <script src="http://libebook.qiniudn.com/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
  <script>
    $(document).ready(function(){
      $('.category').click(function(event){
        event.stopImmediatePropagation();
      });
    });
  </script>
  <%= yield :footer %>
</body>
</html>
