<!DOCTYPE html>
<html>
<head>
  <meta property="wb:webmaster" content="919195fbd9f44369" />
	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">  
  <%= stylesheet_link_tag    "e_books", :media => "all" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jquery_ujs" %>
  <%= javascript_include_tag "e_books" %>
</head>
<body>
<div style="margin-left:auto;margin-right:auto;width:960px;margin-top:44px;">
<%= yield %>
</div>
</body>
</html>
